.gpt3__cta {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
}

.gpt3__cta h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}
.gpt3__cta h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}

.gpt3__cta button {
  background: #000000;
  border-radius: 40px;
  font-family: var(--font-family);

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
